



<footer class="d-flex flex-column justify-content-center">
    <div class="discount py-4 d-flex w-100 flex-row align-items-center justify-content-center gap-3 gap-md-4">
        <h5 class="mb-0 align-self-center">加入會員取得 9 折優惠</h5>
        <button class="btn btn-secondary align-self-center">馬上註冊</button>
    </div>
    <div class="footer d-flex flex-column align-items-center">
        <div class="nav container d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-md-between py-3">
  <div class="logo mb-2 mb-md-0 ms-2 ms-md-0"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg" alt="網站logo"></div>
            <nav>
                <ul class="d-flex flex-column flex-md-row gap-2 gap-md-4 mb-0 ps-0 "><li class="active"><a href="product.html">商品列表</a></li>
                    <li><a href="brand.html">品牌故事</a></li>
                </ul>
            </nav>
        </div>
        <div class="text-center mt-4"><p>Copyright ©2025 URBNSTYLE</p><p>All Rights Reserved.</p></div>
    </div>
</footer>