<header>
    <div class="container d-flex flex-wrap gap-0 gap-md-3 align-items-center justify-content-between">
            <div class="logo order-1 ms-3 ms-md-0"><a href="index.html"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg" alt="網站logo"></a></div>
            <nav>
                <ul class="d-flex w-100"><li class="active"><a href="product.html">商品列表</a></li>
                    <li><a href="brand.html">品牌故事</a></li>
                </ul>
            </nav>
            <div class="icon order-2 order-md-3 me-3 me-md-0"><a href="favorite.html"><i class="bi bi-person"></i></a></div>
    </div>
</header>