header{    
    nav{
        font-weight: 500; 
        align-items: center;
        order: 3; 
        width: 100%;
        display: none;
        li{
            width: 50%;
            padding: 12px;
            text-align: center;
            background: #F5FEE7;
            //display: none;
            &.active{
                background: #E8FEC5;
                @media (min-width: 376px) {
                    background: transparent;
                }
            }
        }
        @media (min-width: 376px) {
            display: flex;
            order: 2;
            align-items: flex-start;
            flex-grow: 1;
            width: auto;
            ul{gap:48px;}
            li{
                width: fit-content;
                padding: 0;
                background: transparent;
            }
        }
    }
}

.logo{img{width:129px; height:46px;}}